In [2]:
import sqlalchemy as db
import pymysql
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [3]:
pymysql.install_as_MySQLdb()

In [3]:
# try:
#     connection = mysql.connector.connect(host='147.102.7.148',
#                                          database='MANTIS_test',
#                                          user='nikos',
#                                          password='1234')
#     if connection.is_connected():
#         db_Info = connection.get_server_info()
#         print("Connected to MySQL Server version ", db_Info)
#         cursor = connection.cursor()
#         cursor.execute("select database();")
#         record = cursor.fetchone()
#         print("Your connected to database: ", record)
# except Error as e:
#     print("Error while connecting to MySQL", e)
# finally:
#     if (connection.is_connected()):
#         cursor.close()
#         connection.close()
#         print("MySQL connection is closed")

In [5]:
#Import Table and Metadata
#engine = db.create_engine('sqlite:///db.sqlite') ##sqlite
engine = db.create_engine('mysql://cnl:Pa$$w0rd@147.102.7.164') ##Host + user + password in remote mysql
connection = engine.connect()
metadata = db.MetaData()
#product = db.Table('Product',metadata,autoload=True,autoload_with=engine)
#dataset = db.Table('dataset',metadata,autoload=True,autoload_with=engine)

In [5]:
#Print the column names
print(product.columns.keys())

['id', 'name', 'description', 'latitude', 'longitude']

In [6]:
#Print full table metadata
#print(repr(metadata.tables['census']))#######In newer versions(?)
print(repr(metadata.tables))

immutabledict({'Product': Table('Product', MetaData(bind=None), Column('id', INTEGER(), table=<Product>, primary_key=True, nullable=False), Column('name', VARCHAR(length=100), table=<Product>), Column('description', VARCHAR(length=200), table=<Product>), Column('latitude', INTEGER(), table=<Product>), Column('longitude', INTEGER(), table=<Product>), schema=None)})

Queries

In [7]:
#Equivalent to 'SELECT * FROM product'
query = db.select([product])

In [8]:
ResultProxy = connection.execute(query)

In [9]:
ResultSet = ResultProxy.fetchall()

In [11]:
ResultSet
ResultSet[:3]

[(1, 'Car 1', 'Black Car', '31N', '43B'),
 (3, 'Car 3', 'Red Car', '33N', '45B'),
 (4, 'Car 4', 'Green Car', '31N', '42B')]

Dealing with Large Datasets in case to overcome memory issues

In [ ]:
while flag:
    partial_results = ResultProxy.fetchmany(50)
    if (partial_results==[]):
        flag = False
ResultProxy.close()

Convert to Pandas Dataframe

In [14]:
df = pd.DataFrame(ResultSet)

In [18]:
df.columns = ResultSet[0].keys() # give

In [19]:
df

,id,name,description,latitude,longitude
0,1,Car 1,Black Car,31N,43B
1,3,Car 3,Red Car,33N,45B
2,4,Car 4,Green Car,31N,42B
3,5,Car 5,Silver Car,30N,41B
4,6,Car 10,Green Car,33N,45B
5,7,nikos,is a boy,2,1
6,8,Thodoras,Thodoris is a fucking loygra,21,122
7,9,Thodoroula,Thodoris is a fucking loygra and trans,211,122
8,10,Thodoroula!,Thodoris is a fucking loygra and trans!!,211,122
9,11,Thodoroula-trans!,Thodoris is a fucking with everyone,118888,12
10,12,Thodoris-trans!,Thodoris is a man,11880,12
11,13,a!,Thodoris is a fucking loygra and trans!!!,2112,122
12,14,b!,Thodoris is a fucking loygra and trans!!!!,2113,122
13,15,c!,Thodoris is a fucking loygra and trans!!!!!,2114,122
14,16,d!,Thodoris is a fucking loygra and trans!!!!!!,2115,122
15,17,Tho!,Thodoris is a fucking loygra and trans!!!!!!!!,2116,122
16,18,Thodorakoylis!,Thodoris LOVES MEN,11880,12
17,19,Thodoris Alexakis!,Thodoris LOVES MEN,11880,12
18,20,car56,carcar,356,356
19,21,car12,carcar1,35,45
20,22,car13,carcar2,36,46
21,23,car14,carcar3,37,47
22,24,car15,carcar4,38,48
23,25,car16,carcar5,39,49

SQL QUERIES Using SQLAlchemy and SQL

In [25]:
## SQL : where
# SELECT * FROM product 
# WHERE id = 1
query = db.select([product]).where(product.columns.id==1)
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
#print(db.select([product]).where(product.columns.name=='car'))

In [35]:
## SQL : in
# SELECT name, description
# FROM product
# WHERE id IN (3)
query = db.select([product.columns.name, product.columns.description]).where(product.columns.id.in_([1]))

In [36]:
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()

In [37]:
ResultSet

[('Car 1', 'Black Car')]

In [ ]:
# SQL : and,or,note
# SELECT * FROM product
# WHERE name = 'Thodoris Alexakis' AND NOT description = 'Thodoris LOVES MEN'
query = db.select([product]).where(db.and_(product.columns.name == 'Thodoris', product.columns.description != 'M'))
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()

In [41]:
# SQL : order by
# SELECT * FROM product
# ORDER BY State DESC name
query = db.select([product]).order_by(db.desc(product.columns.name),product.columns.description)

In [42]:
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()

In [43]:
ResultSet

[(7, 'nikos', 'is a boy', 2, 1),
 (16, 'd!', 'Thodoris is a fucking loygra and trans!!!!!!', 2115, 122),
 (20, 'car56', 'carcar', 356, 356),
 (25, 'car16', 'carcar5', 39, 49),
 (24, 'car15', 'carcar4', 38, 48),
 (23, 'car14', 'carcar3', 37, 47),
 (22, 'car13', 'carcar2', 36, 46),
 (21, 'car12', 'carcar1', 35, 45),
 (15, 'c!', 'Thodoris is a fucking loygra and trans!!!!!', 2114, 122),
 (14, 'b!', 'Thodoris is a fucking loygra and trans!!!!', 2113, 122),
 (13, 'a!', 'Thodoris is a fucking loygra and trans!!!', 2112, 122),
 (11, 'Thodoroula-trans!', 'Thodoris is a fucking with everyone', 118888, 12),
 (10, 'Thodoroula!', 'Thodoris is a fucking loygra and trans!!', 211, 122),
 (9, 'Thodoroula', 'Thodoris is a fucking loygra and trans', 211, 122),
 (12, 'Thodoris-trans!', 'Thodoris is a man', 11880, 12),
 (19, 'Thodoris Alexakis!', 'Thodoris LOVES MEN', 11880, 12),
 (8, 'Thodoras', 'Thodoris is a fucking loygra', 21, 122),
 (18, 'Thodorakoylis!', 'Thodoris LOVES MEN', 11880, 12),
 (17, 'Tho!', 'Thodoris is a fucking loygra and trans!!!!!!!!', 2116, 122),
 (5, 'Car 5', 'Silver Car', '30N', '41B'),
 (4, 'Car 4', 'Green Car', '31N', '42B'),
 (3, 'Car 3', 'Red Car', '33N', '45B'),
 (6, 'Car 10', 'Green Car', '33N', '45B'),
 (1, 'Car 1', 'Black Car', '31N', '43B')]

In [45]:
# SQL : sum ---->other functions include avg, count, min, max..
# SELECT SUM(latitude)
# FROM product
query = db.select([db.func.sum(product.columns.latitude)])
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()

In [46]:
ResultSet

[(166242.0,)]

In [47]:
# SQL : groub by
# SELECT SUM(latitude) as latitude, longitude
# FROM product
query = db.select([db.func.sum(product.columns.latitude).label('lat'),product.columns.longitude]).group_by(product.columns.longitude)
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()

In [48]:
ResultSet

[(2, 1),
 (154528, 12),
 (35, 45),
 (36, 46),
 (37, 47),
 (38, 48),
 (39, 49),
 (11013, 122),
 (356, 356),
 (30.0, '41B'),
 (31.0, '42B'),
 (31.0, '43B'),
 (66.0, '45B')]

In [51]:
# SQL : distinct
# SELECT DISTINCT name
# FROM product
query = db.select([product.columns.name.distinct()])
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()

In [52]:
ResultSet

[('Car 1',),
 ('Car 10',),
 ('Car 3',),
 ('Car 4',),
 ('Car 5',),
 ('Tho!',),
 ('Thodorakoylis!',),
 ('Thodoras',),
 ('Thodoris Alexakis!',),
 ('Thodoris-trans!',),
 ('Thodoroula',),
 ('Thodoroula!',),
 ('Thodoroula-trans!',),
 ('a!',),
 ('b!',),
 ('c!',),
 ('car12',),
 ('car13',),
 ('car14',),
 ('car15',),
 ('car16',),
 ('car56',),
 ('d!',),
 ('nikos',)]